.tick {
    color: #160a0a;
    text-align: center;
    font-size: 6rem;
    margin-left: 45rem;
    margin-right: 45rem;
  }
  .warning {
    color: #aa0b20;
    margin: 2rem auto;
    text-align: center;
    font-size: 1rem;
  }
  .error-message{
      color: #aa0b20;
      margin: 2rem auto;
      text-align: center;
      font-size: 1rem;
  }
  .section-button{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.4rem;
    margin-top:10rem;
    /* margin-left:45rem; */
  }
  .tick-container {
    max-width: 1200px;
    margin: 10px auto 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .trade-interface {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 0 0 35%;
  }
  @media (max-width: 800px) {
    .tick-container {
      flex-direction: column;
      justify-content: center;
    }
  
    .trade-interface,
    .tick {
      width: 350px;
    }
  }  