.select {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  .select-list {
    width: 65%;
    padding: 10px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    border-color: #160b0a;
  }
  .heading{
    margin-left:22rem;
    text-decoration:underline
  }